// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .news-datebox span{
        font-size: 11px !important;
    }
    .news-datebox h4{
        font-size: 1.3rem !important;
    }
    .news-header h5 {
        font-size: 1rem;
    }
    footer .contact a, footer .quick-links a, .recent-news .news p{
        font-size: 12px !important;
    }
    footer .contact i{
        font-size: 20px !important;
    }
    #page-title h3{
        top: 55% !important;
        font-size: 30px !important;
    }
    #news-list .single-news .single-news-body p{
        font-size: 12px;
    }
    .recent-news .news a ,#cars .car-list .car-list-item .car-details span, #cars .car-list .car-list-item .booking a{
        font-size: 14px;
    }
    #cars .car-list .car-list-item .booking .price span{
        font-size: 22px;
    }
}

@media (max-width: 992px){
    #cars .car-list .car-list-item{
        display: block;
        .image{
            width: 100%;
            margin-bottom: 20px;
            img{
                width: 100% ;
            }
        }
        .car-details{
            margin-bottom: 20px;
        }
        .booking{
            width: 100%;
            flex-wrap: unset;
            .price{
                margin-right: 20px;
            }
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}