// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #news .body-row .single-news .title .date span{
        font-size: 11px !important;
    }
    #news .body-row .single-news .title .date h4{
        font-size: 1.3rem !important;
    }
    #news .body-row .single-news .title .content h5 {
        font-size: 1rem;
    }
    footer .news a{
        font-size: 14px;
    }
    footer .contact a, footer .quick-links a{
        font-size: 12px;
    }
    footer .contact i{
        font-size: 20px !important;
    }
    footer .news .single-news .title p{
        font-size: 11px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}