#preloader{
    z-index: 99999999999999999999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 99999999999;
    }
}