#post{

    .recent-news{
        a{
            color: #112E3B;
            transition: all .3s ease;
            font-weight: 600;
            &:hover{
                color: $mainColorGreen;
            }
        }
        p{
            font-size: 13px;
        }
    }
    p{
        font-size: 14px;
        margin: 0;
    }
}