#login, #register{
  background-image: url("../img/bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 90px 0;
  .wrapper{
    background: white;
    border-radius: 10px;
    padding: 50px 30px;
  }
  input::placeholder{
    color: #666666;
  }

  input[type="submit"]{
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    width: 100%;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    border: transparent;
    font-weight: bold;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
    transition: all .3s ease;
    &:hover{
      box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.4);
    }
  }
  input{
    color: #b340f6;
  }
  p{
    text-align: right;
    margin: 0;
    a{
      text-decoration: none;
      color: #666666;
      transition: all .3s ease;
      font-weight: 500;

      &:hover{
        color: #b340f6;
      } 
    }
  }
  .sign-in-input{
    border-radius: 0;
    border-color: transparent;
    border-bottom: 2px solid #d9d9d9;
    &:focus{
      box-shadow: 0 0 0 0px rgba(0,123,255,.25)
    }
  }
  .line{
    display: block;
    height: 2px;
    background: #b340f6;
    transform: translateY(-2px);
    width: 0%;
    transition: all .5s ease;
  }
  input[type="checkbox"]{
    width: 17px;
    height: 17px;
    transform: translateY(4px);
    cursor: pointer;
  }
  label{
    span{
      color: red
    }
  }
  i{
    position: absolute;
    top: 62%;
    left: 0;
    color: #b340f6;
  }
}