#terms{
    color: #666666;
    h5{
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
    ul{
        padding: 0;
        padding-left: 15px;
        li{
            font-size: 14px;
            font-weight: 100;
            margin-bottom:3px;
            text-transform: capitalize;
        }
    }
}