#news-list{
    .single-news{
        .image-wrapper{
            border-radius: 3px 3px 0 0;
            overflow: hidden;
        }
        .single-news-header{
            display: flex;
        }
        .single-news-body{
            p{
                margin: 0;
            }
        }
        .read-more-btn{
            width: 120px;
            background-color: #112E3B;
            transition: all .3s ease;
            color: white;
            display: inline-block;
            border-radius: 3px;
            text-align: center;
            padding: 10px 0;
            &:hover{
                background-color: $mainColorGreen;
                text-decoration: none;
            }
        }
    }
    .recent-news{
        a{
            color: #112E3B;
            font-weight: 600;
            transition: all .3s ease;
            &:hover{
                color: $mainColorGreen;
            }
        }
        .news:nth-child(3){
            border-top-width: 0;
            border-bottom-width: 0;
        }
    }
}