#news{
    .body-row{
        .single-news{
            transition: all .3s ease;
            &:hover{
                box-shadow: 0 10px 45px rgba(82, 105, 119, 0.15);
            }
            .image{
                border-radius: 3px 3px 0 0;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .title{
                padding: 20px;
                display: flex;
                border: 1px solid #e9eff2;
                border-radius: 0 0 3px 3px;
                border-top-width: 0;


            }
        }
    }
}