#slider{
    position: relative;
    a{
        width: auto;
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        span{
            width: 70px;
            height: 60px;
            border-radius: 100%;
            background-size: 59%;
            background-position: center center;
        }
    }
    .carousel-control-prev{
        left: 50px;
    }
    .carousel-control-next{
        right: 50px;
    }
    img{
        height: 800px;
        object-fit: cover;
    }
    .details{
        position: absolute;
        bottom: 15%;
        z-index: 1;
        left: 10%;
        padding: 20px 20px 30px;
        background: #ffffffdb;
        border-radius: 5px;
        text-align: center;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            margin-bottom: 30px;
            li{
                margin-right: 15px;
                i{
                    color: $mainColorGreen;
                    margin-right: 3px;
                }
            }
        }
        a{
            text-align: center;
            background-color: #00d231a6;
            color: white;
            border-radius: 13px;
            text-decoration: none;
            transition: all .3s ease;
            font-size: 16px;
            padding: 15px 30px;
            &:hover{
                background-color: $mainColorGreen;
            }
        }
    }
}