#slider{
    position: relative;
    a{
        width: auto;
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        span{
            width: 70px;
            height: 60px;
            border-radius: 100%;
            background-size: 59%;
            background-position: center center;
        }
    }
    .carousel-control-prev{
        left: 50px;
    }
    .carousel-control-next{
        right: 50px;
    }
    img{
        height: 800px;
        object-fit: cover;
    }
    .car-details{
        width: 120px;
        position: absolute;
        left: 50%;
        top: 70%;
        z-index: 1;
        height: 70px;
        text-align: center;
        line-height: 70px;
        background-color: #00d231a6;
        color: white;
        border-radius: 13px;
        text-decoration: none;
        transition: all .3s ease;
        font-size: 20px;
        transform: translateX(-50%);
        &:hover{
            background-color: $mainColorGreen;
        }
    }
    .vip-icon{
        position: absolute;
        right: 2%;
        top: 18%;
        z-index: 1;
        width: 60px;
        height: 40px;
        border-radius: 100%;
        background-color: $mainColorGreen;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
    }
}