#passion{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(17, 46, 59, 0.8);
    }
    h5{
        font-size: 40px;
        line-height: 1.5;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;
        span{
            display: block;
            font-size: 21px;
            font-weight: 400;
            color: $mainColorGreen;
        }
    }
    p{
        font-size: 14px;
        color: white;
        margin: 0;
    }
}